<footer>
	<div class="container">
		<div class="row footerow">
			<div class="col-12 col-md-3 footerdiv">
				<p class="titlediv">Hours</p>
				<p>Open Daily<br>10AM - 9PM</p>
			</div>
			<div class="col-12 col-md-3 footerdiv">
				<p class="titlediv">Contact</p>
				<a href="tel:+60323301031">03-2330 1031</a>
				<a href="tel:+60164022880">016 - 402 2880</a>
			</div>
			<div class="col-12 col-md-3 footerdiv">
				<p class="titlediv">Address</p>
				<p>9 - 1 Plaza Prisma Ville,<br>Jalan 19/70A, Desa Sri Hartamas KL</p>
			</div>
			<div class="col-12 col-md-3 footerdiv footsocial">
				<ul class="socialfootul">
                    <li><a href="https://www.instagram.com/jeremys.chicks/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    <li><a href="https://www.facebook.com/jeremys.chicks.food/" target="_blank" class="sociallifb"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                </ul>
			</div>
		</div>
		<div class="row">
			<div class="col-12 text-center copyright">
				<p>&copy; {{ site.title }} {{ site.time | date: '%Y' }} All rights reserved.</p>
			</div>
		</div>
	</div>
</footer>